{% extends "template.html" %}
{% block content %}

<div class="container">
        <div class="section">


            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>


                <div class="col s12 m6 z-depth-5" id="rcorners6">
                    <div class="icon-block center">
                        <i class="large mdi-action-perm-identity orange-text center"></i>
                        <h5 class="center">Who we are</h5>
                        <h6 class="center">We are a group of passionate people who believe that its time the
                            way off-school education is overhauled. It is currently unreliable, involves a lot of hassle
                            and just plain
                            inefficient. We hope to change that</h6>
                        <h5>The team</h5>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="/static/nilesh.jpg" alt="" class="circle">
                                <span class="title">Nilesh Jain</span>

                                <p>Owner, Swati Jain College,Indore
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/static/nikit.jpg" alt="" class="circle">
                                <span class="title">Nikit Phadke</span>

                                <p>Software Engineer <br></p>
                            </li>
                            </ul>

                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

            </div>
        </div>
</div>
{% endblock %}






