virtualenv==12.0.7
w3lib==1.11.0
websocket-client==0.29.0
Werkzeug==0.10.4
wget==2.2
requests==2.4.3
WTForms==2.0.2
itsdangerous==0.24
Jinja2==2.7.3
Envelopes==0.4
Flask==0.10
Flask-CouchDB==0.2.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-SocketIO==0.6.0
Flask-WTF==0.11

